.container-games {
    display: grid;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.container-player {
    display: flex;
}

.game-component-yellow {
    align-self: center;
    margin: 0 0.5rem;
    color: var(--appYellow);
}

.game-component-blue {
    align-self: center;
    margin: 0 0.5rem;
    color: var(--appBlue);
}

.disabled-game-component {
    filter: brightness(40%);
}

