:root {
/* colours */
--appBlue: #15abc3; 
--appHighlight: #19cde9;
--appBlack: #000000;

/* fonts */
--baseFont: "Orbitron", serif; 
--specialFont: "Tr2n", sans-serif;
}

body {
    background-color: var(--appBlack);
}

