:root {
/* colours */
--appBlue: #15abc3; 
--appBlueHighlight: #19cde9;
--appYellow: #fff00c;
--appYellowHighlight: #fffab5;
--appBlack: #000000;

/* fonts */
--baseFont: "Orbitron", serif; 
--specialFont: "Tr2n", sans-serif;
}

body {
    background-color: var(--appBlack);
    cursor: crosshair;
}


