@font-face {
    font-family: "Orbitron";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/Orbitron-VariableFont_wght.ttf");
  }

@font-face {
    font-family: "Tr2n";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/Tr2n.ttf");
  }

body {
    font-family: var(--baseFont);
    font-size: 1rem;
    font-weight: 400;
    color: var(--appBlueHighlight);
}

h2 {
    font-size: 2rem;
    color: var(--appYellow);
    padding: 2rem 0 0.5rem 0;
}

h3 {
    font-size: 1.5rem;
    color: var(--appBlueHighlight);
}


.title {
    font-family: var(--specialFont);
    font-size: 12rem;
    font-weight: 800;
    color: var(--appBlueHighlight);
    text-align: center;
    filter: drop-shadow(2px 2px 20px var(--appBlueHighlight));
    -webkit-text-stroke: 4px var(--appBlue);
}

@media (max-width: 750px) {
    .title {
        font-size: 25vw;
        filter: drop-shadow(2px 2px 2vw var(--appBlueHighlight));
    -webkit-text-stroke: 0.5vw var(--appBlue);
    }
}

/* .title:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

  @keyframes glow {
    from {
      text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px var(--appBlue), 0 0 12px var(--appBlue), 0 0 15px var(--appBlue), 0 0 18px var(--appBlue), 0 0 21px var(--appBlue);
    }
    
    to {
      text-shadow: 0 0 3px #fff, 0 0 6px var(--appBlue), 0 0 9px var(--appBlue), 0 0 12px var(--appBlue), 0 0 15px var(--appBlue), 0 0 18px var(--appBlue), 0 0 21px var(--appBlue);
    }
  } */